version: '3'

services:
    nginx:
        build:
          context: .
          dockerfile: ./docker/images/nginx/Dockerfile
        environment:
            NGINX_HOST: expenses.test
            NGINX_PORT: 80
        networks:
            - www
        depends_on:
          - php
        ports:
            - 8080:80
        volumes:
            # binding all the folders from the application
            - ./src:/var/data/www:cached
    php:
        networks:
          - www
        build:
            context: .
            dockerfile: ./docker/images/php/7.4/Dockerfile
        volumes:
            # Mount point for project files
            - ./src:/var/data/www:cached
            - node_modules:/var/data/www/node_modules:cached

            # mount composer config files to not lose them
            - composer:/root/.composer

            # xdebug output
            - ./docker/data/xdebug:/var/data/xdebug:rw

            # Load PHP ini files
            - ./docker/config/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
            - ./docker/config/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro

            # Load PHP-FPM config files
            - ./docker/config/php-fpm/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf:ro

        working_dir: /var/data/www
    db:
        image: mariadb:10.5
        networks:
            - www
        ports:
        - 33060:3306
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: user
            MYSQL_PASSWORD: pass
            MYSQL_DATABASE: expenses-manager
volumes:
  node_modules:
  composer:

networks:
    www:
